{% extends 'baselayout.html' %}

{% block content %}

<nav>
  <div class="brand">
    <h2>
      <Label ID="LblName" Text="Raspberry Pi 3B+" ForeColor="White" Font-Bold="false"></Label>
    </h2>
  </div>
  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}" Style="color: #FF6F8B">About</a></li>

  </ul>
</nav>
<div class="aboutBox">

  <h1>About</h1>

  <p>This is a web application designed to control the raspberry pi from anywhere in the world. <br /> <br />
    Contact Danielle Espiritu (09985333809) if you have any questions



  </p>

</div>


{% endblock %}
