{% extends 'baselayout.html' %}

{% block content %}

<nav>
  <div class="brand">
    <h2>
      <Label ID="LblName" Text="Raspberry Pi 3B+" ForeColor="White" Font-Bold="false"></Label>
    </h2>
  </div>
  <ul>
    <li><a href="{% url 'home' %}" Style="color: #FF6F8B">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>

  </ul>
</nav>
<div class="valuesBox">
  <img src="../assets/plantlogo.png" class="Avatar" />
  <h1>Garden Status</h1>


  {% for a in values %}

  <ul>
    <li><a>Temperature: {{a.temperature}} C<a></li>
    <li><a>Soil Moisture: {{a.moisture}} %<a></li>
    <li><a>Humidity: {{a.humidity}} %<a></li>
  </ul>


  {% endfor %}


  <form method='get'>
    <input type='submit' class="btn" Style="position:absolute; top:70%; left:56%" name="refresh_btn" value="refresh"></button>
  </form>
</div>

<div class="controllerBox">
  <img src="../assets/rpilogo.png" class="rpiAvatar" />
  <h1>Controller</h1>

  <ul>
    <form method='get'>
      <input type='submit' class="btn" Style="position:absolute; top:34%; left:22%" name="onLED_btn" value="onLED"></button>
      <input type='submit' class="btn" Style="position:absolute; top:34%; left:56%" name="onFAN_btn" value="onFAN"></button>
      <input type='submit' class="btn" Style="position:absolute; top:55%; left:22%" name="offLED_btn" value="offLED"></button>
      <input type='submit' class="btn" Style="position:absolute; top:55%; left:56%" name="offFAN_btn" value="offFAN"></button>
    </form>

  </ul>

</div>


<div class="imageBox">
  <img src="../assets/cameralogo.png" class="Avatar" />
  <h1>Camera</h1>
  <img src="../assets/plant.jpg" class="cameraImg" />
</div>

<script>
  window.setTimeout(function () { location.href = "{% url 'home' %}"; }, 6000);
</script>


{% endblock %}
